<table class="table table-inverse">

  <tr>
      <td>Localizacion</td>
      <td>5tva comiseria </td>
  </tr>
  <tr>
      <td>Sector</td>
      <td>Centro</td>
  </tr>
  <tr>
      <td>Calle</td>
      <td>Aldunate</td>
  </tr>
  <tr>
      <td>Numero</td>
      <td>350 </td>
  </tr>
  <tr>
      <td>Casos Actuales</td>
      <td>10</td>
  </tr>

<!-- <input type="text"
       class="form-control"
       placeholder="Nota">
-->
       <button type="button"
               class="btn btn-primary"
               (click)="cambiar_nombre()">
               Informacion del sector

       </button>
